*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
}

.linhas p{
    font-size: 30px;
}

.menu{
    width: 250px;
    height: 100%;
    background-color: black;
}

.menu ul li{
    display: block;
    text-decoration: none;
}

.btn{
    position: absolute;
    display: none;
}

@media (max-width: 700px) {

}